<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
    {% endif %}
    {% ifinstalled cartridge.shop %}
    <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
    {% endif %}
    {% endifinstalled %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-extras.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/navigation.css" %}">
    {% if request.user.is_authenticated %}
    <link rel="stylesheet" href="{% static "css/navigationLoggedIn.css" %}">
    {% else %}
    <link rel="stylesheet" href="{% static "css/navigationLoggedOut.css" %}">
    {% endif %}
    <link rel="stylesheet" href="{% static "css/portalIndex.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
    {% block extra_js %}{% endblock %}
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="portalBody">
    <div id="page-container">   
        <div id="content-wrap">
            {% if request.user.is_authenticated %}
            {% include "navigation.html" %}


            <div id="portalWrapper">
                <div class="container">
                    <h1>Welcome {{request.user.username}}!</h1>
                </div>

                <div class="container">

                    <div class="col-md-2 left">
                        {% block left_panel %}
                        <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
                        {% endblock %}
                    </div>
                    <div id="mainContainer">
                        {% block main %}
                        {% endblock %}
                    </div>
                </div>

            </div>
        
            {% else %}
            <p> You need to login </p>
            {% endif %}
        </div>
        <footer>

        {% page_menu "pages/menus/footer.html" %}
        </footer>
    </div>

</body>
</html>

